# livekit-agents[openai,silero,deepgram,cartesia,turn-detector]~=1.0
# langgraph
# langchain-openai
python-dotenv

langchain[openai]
langgraph
livekit-agents[openai,silero,langchain,deepgram,turn_detector]